body{
  background-color: #806199;
}

#container{
  width: 350px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background: White;
  height: 600px;
  overflow-y: auto;
  color: Black;
  border: 10px solid #01a3a4;
  border-radius: 10px;
}

#container h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#container ul {
  margin-top: 50px;
  padding-left: 0;
}

#container ul li {
  list-style: none;
  border-radius: 2px solid #b5c5dd;
  width: 80%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 40px;
  margin: 5px auto;
  text-align: left;
}

#container ul li label {
  margin: 0 auto;
  vertical-align: middle;
  height: 100%;
  line-height: 40px;
  font-size: 18px;
}

#container ul li #check {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px;
  
}
